
<%=hej%>
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/6dfa6f1a44.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link href="../forside.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoltrupAdmin</title>
</head>
<body>


    <header>
        <div class="center-header"> <h3 class="disploc"></h3> </div>
       
        <div class="bruger">
            <i class="fas fa-lock"></i>
            <p class="authnavn"></p>
            <a href="#" id="authlogud">Log ud</a>
         </div>
    </header>
    <div class="menu">
        <a href="#">Overblik</a>
        <a href="#opretny">Ny skærm</a>
        <a href="#kladder">Kladder</a>
        <a href="#log">Log</a>
    </div>

    <main class="overblik">
        <div class="skærm">

      <h3>Lindely</h3>
        </div>
     
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-functions.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
    <script src="../header.js"></script>

</body>
</html>