<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../skærm.css">

</head>
<body>
  <header>e</header>
    <main>
      <div></div>  
      <div></div>  
      <div></div>  
      <div></div>  
      <div></div>  
      <div></div>  
      <div></div>  
      <div></div>  
      <div></div>  
    </main>


    <footer>e</footer>


  
</body>
</html>